:root{
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
    direction: center;
}

body{
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    /*font-family:Arial, Helvetica, sans-serif;=*/
}

a{
    color: var(--gray30);
}

h1{
    Font-size: 60px;
    margin-top: 64px;
    margin-bottom: 16px;
    margin: 64px 10px 16px 10px; 
    /*margin-left: 10px;
    margin-right: 10px;*/
    /*margin: 10px 5px;*/
    /*margin: 30px 20px 10px;*/
    /*text-decoration: underline;*/
}

h1 + p{
    /* background-color: fuchsia; */
    margin-bottom: 64px;
}

hr{
    /*background-color: red;*/
    color: var(--gray10);
}

header{
    /*--gray10: red;*/
    font-size: 14px;
    color: var(--gray10);
}

header a {
    font-size: 14px;
    color: var(--gray10);
    text-decoration: none;
}

header a:hover{
    color: var(--gray30);
}

nav details summary {
    color: var(--gray30);
    /*font-weight: bold;*/
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px 0;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
}

pre {
    background: #FEC62E;
    
}

blockquote {
    margin: 32px 0;
}

.hero{
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.png');
    /*background-repeat: no-repeat;*/
    /*background-position: left 50px bottom 50px;*/
    /*background-size: cover;*/
    height: 350px;   
}
.section-content + hr{
    display: none;
}
.section-content img{
    margin-top: 40px;
}

.section-content{
    counter-reset: titlelist;
}

.section-content h3{
    counter-increment: titlelist;
}

.section-content h3::before{
    content: counter(titlelist, decimal) ".";
}

.section-content h3::after{
    content: '';
    width: 32px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
}

.section-content{
    margin-top: 164px;
}
.section-content.section-content:first-of-type{
    /*background: red; */
    margin: 0;
}   
.section-content ol li{
    line-height: 24px;
}
.section-content ul li{
    margin-bottom: 16px;
}

/*::selection {
   background: red;
}*/